<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AdressBook"
      connectionString = "Server=localhost;Port=3306;Database=addressbook;Uid=root;Pwd=;charset=utf8;Allow Zero DateTime=true"
      providerName     = "MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>